NEXT_PUBLIC_SUPABASE_URL=https://cpdfgqempyjagwnxivpb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNwZGZncWVtcHlqYWd3bnhpdnBiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgyNzIwMjYsImV4cCI6MjA5Mzg0ODAyNn0.MlftxPsp-6Y00TrOP56a_TntGSOWbnWAhzRekw6cqPY
